<link rel="stylesheet"
        href=
"https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        crossorigin="anonymous">
    </script>




<!-- autocomplete cdn -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
        type="text/css" />




<!-- not autocomplete cdn -->

    <script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity=
"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>




<!-- Sidebar (hidden by default) -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Whatsapp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Instagram</a>
      </li>

      <li class="nav-item">
         <a class="nav-link" href="{% url 'stores' %}">Tiendas</a>
      </li>

      <li class="nav-item">
         <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
      </li>

      <li class="nav-item">
         <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
      </li>


    </ul>
  </div>
</nav>




<div class=" text-dark bg-light">
<br><br>


  <div class="d-flex align-items-center justify-content-center vh-90 flex-column gap-4">
  <form action="{% url 'search' %}" method="POST"  class="d-flex">
       {% csrf_token %}
       <div>
        <input name="name" id='name' class="form-control me-1 h-100" type="search" placeholder="Bariventaz" aria-label="Search">
        </div>
        <div>
        <button class="btn btn-primary btn-lg" type="submit">Buscar</button>
        </div>
      </form>



</div><br><br>




<style>


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 15%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: blue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  
  border-radius: 3px 0 0 3px;
}





.card{
  margin-right:20px;
  }


</style>
</head>
<body>

<div class="slideshow-container d-flex justify-content-around">

<div class="mySlides">


  <div class="d-flex justify-content-around">

    {% for product11 in products11 %}

 <div class="card">
  <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}" height='250px' width='250px'></a>
  </div>

{% endfor %}

   <div class="card ">
  <img src="origin.jpg" height="300px" width="300px">
</div>


   <div class="card">
  <img src="Tesla_Model_S_(28898945604).jpg" height="300px" width="300px">
  </div>

<div class="card">
  <img src="2022_tesla_model_s_angularfront.jpg" height="300px" width="300px">
  </div>
  
  
 


</div>


</div>




<div class="mySlides">


  <div class="d-flex justify-content-around">

 <div class="card">
  <img src="origin.jpg   " height="300px" width="300px">
  </div>



   <div class="card ">
  <img src="            2022_tesla_model_s_angularfront.jpg" height="300px" width="300px">
</div>


   <div class="card">
  <img src="Tesla_Model_S_(28898945604).jpg" height="300px" width="300px">
  </div>

<div class="card">
  <img src="2022_tesla_model_s_angularfront.jpg" height="300px" width="300px">
  </div>
  
  
 


</div>


</div>




<div class="mySlides">


  <div class="d-flex justify-content-around">

 <div class="card">
  <img src="2022_tesla_model_s_angularfront.jpg" height="300px" width="300px">
  </div>



   <div class="card ">
  <img src="origin.jpg" height="300px" width="300px">
</div>


   <div class="card">
  <img src="2022_tesla_model_s_angularfront.jpg     " height="300px" width="300px">
  </div>

<div class="card">
  <img src="         Tesla_Model_S_(28898945604).jpg" height="300px" width="300px">
  </div>
  
  
 


</div>


</div>


<div class="d-grid gap-2 d-md-flex justify-content-md-end">

<a class="prev btn btn-primary me-md-2" onclick="plusSlides(-1)">❮</a>
<a class="next btn btn-primary" onclick="plusSlides(1)">❯</a>
</div>

</div>







<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>






























































<!--
<section class="secCaro">
            <div class="js-caroParent">
                <div class="js-carousel css-carousel">
                    <div class="js-track css-track">
                        <div class="js-slide css-slide"><div>1</div></div>
                        <div class="js-slide css-slide"><div>2</div></div>
                        <div class="js-slide css-slide"><div>3</div></div>
                        <div class="js-slide css-slide"><div>4</div></div>
                        <div class="js-slide css-slide"><div>5</div></div>
                        <div class="js-slide css-slide"><div>6</div></div>
                        <div class="js-slide css-slide"><div>7</div></div>
                        <div class="js-slide css-slide"><div>8</div></div>

                    </div>
                </div>
                <div class="css-arrows">
                    <a href="javascript:void(0);" class="js-arrow prev disable">Prev</a>
                    <a href="javascript:void(0);" class="js-arrow next">Next</a>
                </div>
            </div>
        </section>



<style>

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,a:hover{
  color: #000000;
  text-decoration: none;
}
.secCaro{
  padding: 0 20%;
  position: relative;
}
.secCaro .css-carousel{
  overflow: hidden;
}
.secCaro .css-carousel .css-track{
  position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0);
    transition: all .35s ease;
}
.secCaro .css-carousel .css-track:after{
  display: table;
    content: '';
    clear: both;
}
.secCaro .css-carousel .css-slide{
  float: left;
  padding: 0 7px;
}
.secCaro .css-carousel .css-slide.active-slide >div{
  border-color: red;
}
.secCaro .css-carousel .css-slide > div{
  background-color: #f2f2f2;
  color: #000000;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 274px;
  max-width: 100%;
  border:1px solid transparent;
}
.secCaro .css-carousel .css-slide > div.big-wd{
  width: 350px;
}
.secCaro .css-arrows{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 7px;
}
.secCaro .css-arrows .prev.disable{
  opacity: .5;
  cursor: default;
  pointer-events: none;
}
.secCaro .css-arrows .next.disable{
  opacity: .5;
  cursor: default;
  pointer-events: none;
}

</style>



<script>

class Carousel {
  constructor() {
    this.jscaroParent = document.getElementsByClassName('js-caroParent');
    this.jscarousel = document.getElementsByClassName('js-carousel');
    this.jstrack = document.getElementsByClassName('js-track');
    this.jsslide = document.getElementsByClassName('js-slide');
    this.jsarrow = document.getElementsByClassName('js-arrow');
    this.pushwdarray = [];
    this.assinchwidth = 0;
  }

  initSelectors() {
  }

  initEvents() {
    for (let i = 0; i < this.jsarrow.length; i++) {
      this.jsarrow[i].addEventListener('click', (e) => {
        this.arrowAction(e);
      });
    }
  }

  initCarousel() {
    const getParent = this.jscaroParent;
    const getCarousel = this.jscarousel;
    const getSlide = this.jsslide;
    let getParentwd = 0;
    for (var i = 0; i < getSlide.length; i++) {
      getParentwd += getSlide[i].clientWidth;
      this.pushwdarray.push(getSlide[i].clientWidth);
      getSlide[0].classList.add('active-slide');
    }
    getSlide[0].parentElement.setAttribute('style', `width:${getParentwd}px;transform:translateX(0);`);
  }

  arrowAction(e) {
    const tarparent = e.target.offsetParent.children[0].children[0].children;
    if(e.target.classList.contains('next')){
      const allchild = tarparent[0].children;
      let i;
      let getindex;
      let getindexwd;
      for(i = 0; i < allchild.length; i++){
        if(allchild[i].classList.contains('active-slide')){
          getindex = i;
          if((i+2) === allchild.length){
            e.target.classList.add('disable');
          } else {
            e.target.classList.remove('disable');
          }
          if(allchild[i].nextElementSibling === null){
            getindexwd = 0;
          } else {
            getindexwd = allchild[i].clientWidth;
            allchild[i].classList.add('prev-slide');
            allchild[i].classList.remove('active-slide');
          }
          console.log(allchild);
          // if(allchild[i].nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling === null){
          //  getindexwd = 0;
          // }
        }
      }
      this.assinchwidth += getindexwd;
      if(allchild[getindex].nextElementSibling){
        allchild[getindex].nextElementSibling.classList.add('active-slide');
      }
      tarparent[0].style.transform = `translateX(-${this.assinchwidth}px)`;
      e.target.previousElementSibling.classList.remove('disable');
    } else if(e.target.classList.contains('prev')) {
      const allchild = tarparent[0].children;
      let i;
      let getindex;
      let getindexwd;
      for(i = 0; i < allchild.length; i++){
        if(allchild[i].classList.contains('active-slide')){
          if(allchild[i].previousElementSibling.previousElementSibling === null){
            e.target.classList.add('disable');
          }
          getindex = i;
          getindexwd = allchild[i].previousElementSibling.clientWidth;
          allchild[i].classList.remove('active-slide');
        }
      }
      this.assinchwidth -= getindexwd;
      allchild[getindex].previousElementSibling.classList.remove('prev-slide');
      allchild[getindex].previousElementSibling.classList.add('active-slide');
      tarparent[0].style.transform = `translateX(-${this.assinchwidth}px)`;
      e.target.nextElementSibling.classList.remove('disable');
    }
  }

  init() {
    this.initSelectors();
    this.initEvents();
    this.initCarousel();
  }
}

// export default Carousel;

let Mycarousel = new Carousel();
Mycarousel.init();




</script>


-->












 {% if user.is_authenticated %}
            <p id="welcome-user">Welcome {{ request.user.username }}</p>


<a class="link" href="{% url 'logout' %}">Logout</a>





{% for detaill in slides  %}




    <div class="container mb-4 p-4" style="text-align: center;">
        <div id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-pause="false"
            data-bs-keyboard="false">

            <div class="carousel-inner">
                <div class="carousel-item bg-light active"
                    data-bs-interval="2000">

                      <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="4000">

                   <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image2.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="6000">

                    <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image3.url }}" height='500px' width='500px'></a>
                </div>
            </div>
        </div>
    </div><br><br><br>








{% endfor  %}




















<body>
<!-- display products 1 -->



{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


             <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5  style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}



<!-- display products 2 -->


{% for electronic11 in electronics11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">



            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' electronic11.id %}" ><img src="{{ electronic11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ electronic11.name  }}</h5>
                       <h5 class="text-truncate">{{ electronic11.item  }}</h5>
  <h5>{{ electronic11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'details2' electronic11.id %}" ><img src="{{ electronic11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ electronic11.name  }}</h5>
                      <h5 class="text-truncate">{{ electronic11.item  }}</h5>
  <h5>{{ electronic11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}















<!-- display products 3 -->






{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


             <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}









{% for detaill in slides2  %}




    <div class="container mb-4 p-4" style="text-align: center;">
        <div id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-pause="false"
            data-bs-keyboard="false">

            <div class="carousel-inner">
                <div class="carousel-item bg-light active"
                    data-bs-interval="2000">

                      <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="4000">

                   <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image2.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="6000">

                    <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image3.url }}" height='500px' width='500px'></a>
                </div>
            </div>
        </div>
    </div><br><br><br>








{% endfor  %}

















<!-- display products 4 -->

{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}


<!-- display products 5 -->

{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


      <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>
            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}



<!-- display products 6 -->


{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}



<!-- display products 7 -->


{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


                 <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}

<div>

</body>


{% endif  %}








{% if not user.is_authenticated %}










{% for detaill in slides  %}




    <div class="container mb-4 p-4" style="text-align: center;">
        <div id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-pause="false"
            data-bs-keyboard="false">

            <div class="carousel-inner">
                <div class="carousel-item bg-light active"
                    data-bs-interval="2000">

                      <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="4000">

                   <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image2.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="6000">

                    <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image3.url }}" height='500px' width='500px'></a>
                </div>
            </div>
        </div>
    </div><br><br><br>








{% endfor  %}




















<body>
<!-- display products 1 -->



{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


             <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5  style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}



<!-- display products 2 -->


{% for electronic11 in electronics11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">



            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' electronic11.id %}" ><img src="{{ electronic11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ electronic11.name  }}</h5>
                       <h5 class="text-truncate">{{ electronic11.item  }}</h5>
  <h5>{{ electronic11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'details2' electronic11.id %}" ><img src="{{ electronic11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ electronic11.name  }}</h5>
                      <h5 class="text-truncate">{{ electronic11.item  }}</h5>
  <h5>{{ electronic11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}















<!-- display products 3 -->






{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


             <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'details2' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}









{% for detaill in slides2  %}




    <div class="container mb-4 p-4" style="text-align: center;">
        <div id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-pause="false"
            data-bs-keyboard="false">

            <div class="carousel-inner">
                <div class="carousel-item bg-light active"
                    data-bs-interval="2000">

                      <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="4000">

                   <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image2.url }}" height='500px' width='500px'></a>
                </div>

                <div class="carousel-item bg-light"
                    data-bs-interval="6000">

                    <a href="{% url 'details2' detaill.id %}" ><img src="{{ detaill.image3.url }}" height='500px' width='500px'></a>
                </div>
            </div>
        </div>
    </div><br><br><br>








{% endfor  %}

















<!-- display products 4 -->

{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}


<!-- display products 5 -->

{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


      <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>
            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}



<!-- display products 6 -->


{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">

            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}



<!-- display products 7 -->


{% for product11 in products11 %}

    <div class="container overflow-hidden">
        <div class="row gx-1 justify-content-evenly">


                 <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3 justify-content-evenly">

                <div class="p-1 card text-center">
                      <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"  style="width: 110px; height: 100px;"></a>
                      <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                       <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
            </div>


            <div class="col-3">

                <div class="p-1 card text-center">
                     <a href="{% url 'specifics' product11.id %}" ><img src="{{ product11.image.url }}"   style="width: 110px; height: 100px;"></a>
                     <h5 style='font-weight: bold;'>{{ product11.name  }}</h5>
                      <h5 class="text-truncate">{{ product11.item  }}</h5>
  <h5>{{ product11.price  }}</h5>
                </div>
        </div>
</div>
    </div><br><br><br>



{% endfor  %}

<div>

</body>



{% endif  %}
























  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Bariventaz
            </h6>
            <p>
              Somos tu tienda virtual para el crecimiento
              de tu negocio.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
            <p>
              <a class="text-white">Electronica</a>
            </p>
            <p>
              <a class="text-white">Comida</a>
            </p>
            <p>
              <a class="text-white">Ferreteria</a>
            </p>
            <p>
              <a class="text-white">Repuestos</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Links
            </h6>
            <p>
              <a class="text-white">Publica con nostros</a>
            </p>
            <p>
              <a class="text-white">Whatsapp</a>
            </p>
            <p>
              <a class="text-white">Instagram</a>
            </p>
            <p>
              <a class="text-white">Tiktok</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> Barinas Venezuela</p>
            <p><i class="fas fa-envelope mr-3"></i> bariventaz@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +58 424 5305016</p>
            <p><i class="fas fa-print mr-3"></i> +58 412 6769476</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2023 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
                 >bariventaz.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->



<script>

  $( function() {
    var availableTags = [
        {% for autocomplete in productsautocomplete %}
           "{{autocomplete.item}}",
        {% endfor %}
            {% for autocomplete in productsautocomplete2 %}
            "{{autocomplete.item}}",
        {% endfor %}
        {% for autocomplete in storesauto %}
            "{{autocomplete.name}}",
        {% endfor %}
    ];
    $( "#name" ).autocomplete({
      source: availableTags
    });
  } );







</script>